#farm-vue-area {
  font-family: 'Source Sans Pro', sans-serif !important;
}
.farm-area {
  border: 1px solid #333333;
  border-radius: 6px;
  background-color: #8e8e8e;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;

  &.no-max-width {
    max-width: none;
  }

  &.farm-area-tunnel {
    max-width: 800px;
  }

  &.terrain-list {
    max-width: 800px;
  }
}

.terrain {
  border: 1px solid black;
  border-radius: 6px;
  min-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #009a7f;
  font-size: 16px;

  .terrain-title {
    font-size: 18px;
    font-weight: 700;
    color: #f4d895;
    p {
      text-transform: capitalize;
    }
  }

  .terrain-body {
    display: flex;
    align-items: flex-start;
    // justify-content: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      color: #fff;
      font-size: 16px;
      text-decoration: underline;
    }
  }

  &:hover {
    background-color: shade($terrain-color, 15%);
  }
}

.terrain-parcel {
  border: 1px solid #333;
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fecc00;
  color: #333;
  font-size: 16px;

  &:hover {
    background-color: shade(#fecc00, 15%);
  }

  h2 {

  }

  p {
    margin-bottom: 0;

    &:not(.lead) {
      font-size: 16px;
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.parcel {
  border: 1px solid #333333;
  border-radius: 6px;
  background-color: yellow;
  padding: 20px;
  flex: 0 0 25%;
  max-width: 25%;
  overflow: hidden;
  //hover, active & focus
  @include on-event {
    opacity: 0.5;
  }
  @include when-inside('.rice') {
    background-color: #6582aa;
  }
  @include when-inside('.cotton') {
    background-color: #fdf48c;
  }
  @include when-inside('.corn') {
    background-color: #5a8431;
  }
  @include when-inside('.oats') {
    background-color: lightblue;
  }
  @include when-inside('.pineapple') {
    background-color: #afa476;
  }
}

.terrain-detail-title {
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.tunnel {
  border-radius: 10px;
  background-color: #0079bf;
  color: #fff;
  border-style: dashed;

  &:hover {
    background-color: shade(#0079bf, 15%);
  }

  h1 {
    font-size: 24px;
    text-transform: capitalize;
  }
}

.groove {
  background-color: $groove-color;

  &:hover {
    background-color: shade($groove-color, 15%);
  }
}

.crop {
  background-color: $crop-color;

  &:hover {
    background-color: shade($crop-color, 15%);
  }
}

.plant {
  background-color: $plant-color;
  border: none;

  &:hover {
    background-color: shade($plant-color, 15%);

  }
}

.unit-title {
  margin-bottom: 1rem;
}

.unit-row {
  padding: 5px;
}

.inline-fieldset {

  label {
    display: block;
    width: 100%;
  }

  input.form-control {
    display: inline;
    width: 60%;
  }
  select.form-control {
    display: inline;
    width: 35%;
  }
}

#actv-create-table {
  font-size: 14px;

  .input-group {
    // max-width: 250px;
    // border: 1px solid red;
  }

  thead tr th {
    font-weight: 700;
    font-size: 16px;
  }

  tbody tr th {
    vertical-align: middle;
    font-weight: 700;
  }
}
