input[type="text"],
input[type="password"],
select,
textarea {
  padding: .375rem .75rem;
  border: 1px solid #ced4da !important;
  font-size: 1rem;
  color: #495057;
}

.form-control-plaintext,
input[type="text"].form-control-plaintext {
  border: solid transparent !important;

  &:hover, &:focus {
    border: solid transparent !important;
  }
}
