@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

@import "variables";

// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
// bower:scss
// endbower

.browserupgrade {
  // margin: 0.2em 0;
  // background: #ccc;
  // color: #000;
  // padding: 0.2em 0;
}

/* Space out content a bit */
// body {
//   padding-top: 1.5rem;
//   padding-bottom: 1.5rem;
// }

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-right: 1rem;
//   padding-left: 1rem;
// }

// /* Custom page header */
// .header {
//   padding-bottom: 1rem;
//   border-bottom: .05rem solid #e5e5e5;
// }

// /* Make the masthead heading the same height as the navigation */
// .header h3 {
//   margin-top: 0;
//   margin-bottom: 0;
//   line-height: 3rem;
// }

// /* Custom page footer */
// .footer {
//   padding-top: 1.5rem;
//   color: #777;
//   border-top: .05rem solid #e5e5e5;
// }

/* Customize container */
// @media (min-width: 48em) {
//   .container {
//     max-width: 46rem;
//   }
// }
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#land {
  border: 1px solid red;
  width: 100%;
  // height: 300px;
}

#paper {
  margin: 0 auto;
  // border: 1px solid red;

  svg {
    // margin: 0 auto;

  }
}


svg {
  border: 1px solid red;
}

body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.nav {
  &.nav-pills {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 16px;
    color: #17a2b8;
    margin-bottom: 4rem;
  }
}

ol.breadcrumb {
  margin-bottom: 20px;
  font-size: 1rem;
  display: flex;
  list-style: none;
  margin-left: 0;
}

@import "functions";
@import "mixins";
@import "modal";
@import "form";
@import "farm";
