<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AgriSuite</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container">
      <div class="header">
        <!-- <ul class="nav nav-pills float-right">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li>
            <a class="nav-link" href="#">About</a>
          </li>
          <li>
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul> -->
        <h3 class="text-muted">AgriSuite</h3>
      </div>

    </div>

    <section class="vue-area" id="farm-vue-area">
      <router-view :terrain_list="terrains"></router-view>
    </section>

    <!-- <script type="text/x-template" id="asset-creation"> -->
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 text-center">
            <h1>{{ message }}</h1>
          </div><!-- end col- meesage -->
        </div><!-- end row message -->

        <div class="row mb-5" v-if="loading">
          <div class="col-sm-12 text-center">
            <h3 class="font-weight-bold">Cargando activo productivo...</h3>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
          </div>
        </div><!-- end row v-if loading -->

        <div class="row mb-5" v-if="prod_asset">
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="month in prod_asset.actv_detail">
                    <th scope="row">{{ month }}</th>
                    <!-- <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td> -->
                  </tr>
                  <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> -->
                </tbody>
              </table>
            </div><!-- end table responsive -->
          </div><!-- end col-sm 12 table -->

          <div class="col-sm-12">

          </div>
        </div><!-- end row v-if prod-asset -->

      </div>
    <!-- </script> -->



    <script type="text/x-template" id="terrain-list-template">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>{{ terrainsMsg }}</h1>
          </div>
        </div>
        <div class="row farm-area mb-5">
          <section v-for="terrain in terrain_list" :key="terrain.key" data-terrain="terrain" class="col-sm-6 terrain" :class="terrain.name">
            <div class="terrain-title text-center">
              <p>{{ terrain.name }}</p>
            </div>

            <div class="terrain-body">
              <p class="text-center">
                <router-link :to="{name: 'terrain_details', params: {id:  terrain.id}}">Ver Terreno</router-link>
              </p>
            </div>
          </section>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="text-center mb-5">
              <a class="btn btn-outline-info" data-toggle="modal" data-target="#modal-new-terrain" href="#">Agregar terreno</a>
              <input type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modal-activo-productivo" value="Registar activo productivo" href="#">
            </div>
          </div>
        </div>
      </div>
      <!-- end container -->
    </script>

    <script type="text/x-template" id="terrain-detail">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1> {{ terrainmsg }}</h1>
          </div>
        </div>
        <div class="row farm-area mb-5">
          <div class="col-sm-12 text-center">


          </div>

          <div class="col-sm-6 text-center terrain-parcel">
            <p>Parcel Name</p>
          </div>
          <div class="col-sm-6 text-center terrain-parcel">
            <p>Parcel Name</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center mb-5">
              <a class="btn btn-outline-info" data-toggle="modal" data-target="#modal-new-parcel" href="#">Agregar parcela</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end container -->
    </script>



    <script type="text/x-template" id="parcel-detail-template">
      <div class="container">

        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>{{ message }}</h1>
          </div>
        </div>

        <div class="row farm-area mb-5">
          <div class="col-sm-12" v-if="loading">
            <h2>Cargando datos de la parcela...</h2>
          </div>
          <div class="col-sm-12" v-if="parcel_info">
            <div class="row">
              <div class="col-sm-12">

                <p>Test info</p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </script>

    <script type="text/x-template" id="tunel-details">
      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <h1>{{ message }}</h1>
          </div>
        </div>

        <div class="row farm-area mb-5">

          <div class="col-sm-12" v-if="loading">
            <h2>Cargando datos de tunel...</h2>
          </div>

          <div class="col-sm-12" v-if="tunnel">
            <div v-for="(tunel, index) in tunnel" :key="index" class="row">
              <div v-for="(surco, i) in tunel" :key="i" class="col-sm-12 col-md-6 col-lg-4">
                <div v-for="(planta, j) in surco" :key="j" class="row">
                  <div class="col-sm-12">
                    <p>{{ planta.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12" v-if="error">

            <h2>Error al cargar datos de Túnel... </h2>

          </div>

        </div>

        <div class="row">
          <div class="col-sm-12">

          </div>
        </div>
      </div>
    </script>



    <script type="text/text-xtemplate" id="tunnel-list-view">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            {{ message }}
          </div>
        </div>

        <div class="row farm-area mb-5">
          <div class="col-sm-12" v-if="loading">
            <h2>Cargando los túneles...</h2>
          </div>

        <div class="col-sm-12" v-if="parcelas">
          <div class="row">
            <div v-for="(tunnel, index) in tunnels" :key="index" class="col-sm-6 terrain-parcel">
              <p>{{ tunnel.name }}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12" v-if="error">
          <h2>No se pudo cargar los datos de tuneles</h2>
        </div>
      </div>
    </div>
    </script>

    <div class="modal fade" id="modal-activo-productivo">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Activo Productivo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form">

              <fieldset class="form-group">
                <label for="exampleInputEmail1">Nombre:</label>
                <input type="text" class="form-control" placeholder="Ingrese nombre de la temporada">

              </fieldset>
              <fieldset class="form-group">
                <label >Fecha inicio temporada: </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id=""> <i class="fa fa-calendar"></i> </span>
                  </div>
                  <input type="date" class="form-control" aria-describedby="">
                </div>

              </fieldset>
              <fieldset class="form-group">
                <label >Meses:</label>
                <input type="number" class="form-control" placeholder="Meses">
              </fieldset>
              <fieldset class="form-group">
                <label for="">Curva:</label>
                <input type="text" readonly class="form-control-plaintext" name="" value="100%">

              </fieldset>
              <fieldset class="form-group">
                <label for="">Presupuesto de gasto</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="">$</span>
                  </div>
                  <input type="text" class="form-control" placeholder="0.00" aria-describedby="">
                </div>
              </fieldset>

              <!-- <fieldset class="form-group">
                <label for="">Cajas:</label>
                <input type="number" class="form-control" name="" value="">
              </fieldset>
              <fieldset>
                <label for="">Estimado de costo:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">$</span>
                  </div>
                  <input type="text" class="form-control" placeholder="0.00" aria-describedby="">
                </div>
              </fieldset> -->
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-outline-info">Registar activo productivo</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container">
      <div class="row">
        <textarea class="col-sm-12" id="farm-data" name="" rows="" cols="">
          {"25":{"id":"25","name":"Ajonjolí"},"27":{"id":"27","name":"ale"},"5":{"id":"5","name":"Algodon"},"12":{"id":"12","name":"Avena"},"26":{"id":"26","name":"Chicharos"},"1":{"id":"1","name":"KDI"},"11":{"id":"11","name":"Maiz"},"13":{"id":"13","name":"Soya"}}
        </textarea>
        <textarea class="col-sm-12" id="measure-units" name="" rows="" cols="">
          {"2":{"id":"2","name":"Acre"},"1":{"id":"1","name":"Hectárea"}}
        </textarea>
      </div>
    </div>

    <!-- modal -->
    <div class="modal fade" id="modal-new-terrain">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Datos del nuevo terreno:</h4>


            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>

          </div>
          <div class="modal-body">
            <form id="new-terrain-form" class="form">

              <fieldset class="form-group">
                <label for="parcel-name-field">Nombre: </label>
                <input type="email" class="form-control" id="terrain-name-field" placeholder="Ingrese el nombre del terreno" required>
              </fieldset>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-outline-info" onclick="add_new_terrain()">Agregar Nuevo Terreno</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end modal -->

    <!-- modal new parcel -->
    <div class="modal fade" id="modal-new-parcel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Datos de nueva parcela</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>

          </div>
          <div class="modal-body">
            <form class="form" id="new-parcel-form">

              <fieldset class="form-group">
                <label for="exampleSelect1">Pertenece a terreno:</label>
                <select class="form-control" id="parcel-parcel">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </fieldset>

              <fieldset class="form-group inline-fieldset">
                <label for="exampleSelect1">Unidad de Medida:</label>
                <input type="number" min="1" name="" class="form-control" value="">
                <select class="form-control" id="parcel-measure-unit">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </fieldset>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-outline-info">Crear parcela</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end parcel modal -->

    <!-- modal new tunnel -->
    <div class="modal fade" id="modal-new-tunnel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Datos para nuevo túnel</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>

          </div>
          <div class="modal-body">
            <form>

              <fieldset class="form-group">
                <label for="">Tamaño de túnel</label>
                <input type="number" min="1" class="form-control" id="" placeholder="Ingrese el tamaño del túnel" value="1">
              </fieldset>

              <fieldset class="form-group">
                <label for="">Seleccione unidad de medida</label>
                <select class="form-control" id="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </fieldset>

              <fieldset class="form-group">
                <label for="exampleSelect1">Seleccione la parcela</label>
                <select class="form-control" id="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </fieldset>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-outline-info">Agregar nuevo túnel</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- end modal new tunnel -->

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center mb-5">
            <a class="btn btn-outline-info" href="#" onclick="button_add_terrain()" id="btn-add-terrain">Agregar Terreno</a>
            <a class="btn btn-outline-info" href="#" onclick="button_add_terrain()" id="btn-detail-terrain">Ver Terreno</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!-- <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script> -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->

    <!-- endbuild -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <!-- <script src="https://rawgit.com/DmitryBaranovskiy/raphael/master/raphael.min.js"></script> -->
    <!-- build:js scripts/main.js -->
    <!-- <script src="scripts/main.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/oauth-signature@1.5.0/dist/oauth-signature.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

    <!-- AXIOS -->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

    <!--VUEJS dev version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script src="scripts/app.js"></script>
    <!-- <script src="scripts/app_0.js"></script> -->
    <!-- endbuild -->
  </body>
</html>
